.burger {
	@media (min-width: 769px) {
		display: none;
	}
	@media (max-width: 768px) {
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 13;
		width: 38px;
		height: 38px;
		transform: translateY(-50%);
	}
	&:hover {
		@media (max-width: 768px) {
			@media (any-hover: hover) {
				span {
					width: 100%;
				}
			}
		}
	}
	&.active {
		&:hover {
			@media (max-width: 768px) {
				@media (any-hover: hover) {
					span {
						width: 0;
					}
				}
			}
		}
		&::before {
			@media (max-width: 768px) {
				top: 50%;
				transform: translateY(-50%) rotate(135deg);
			}
		}
		&::after {
			@media (max-width: 768px) {
				bottom: 50%;
				transform: translateY(50%) rotate(-135deg);
			}
		}
		span {
			@media (max-width: 768px) {
				right: 50%;
				width: 0;
			}
		}
	}
	&::before,
	&::after {
		@media (max-width: 768px) {
			content: "";
			left: 0;
		}
	}
	&::before,
	&::after,
	span {
		@media (max-width: 768px) {
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: #fff;
			border-radius: 3px;
			transition: 0.25s;
		}
	}
	&::before {
		@media (max-width: 768px) {
			top: 15%;
		}
	}
	&::after {
		@media (max-width: 768px) {
			bottom: 15%;
		}
	}
	span {
		@media (max-width: 768px) {
			top: 50%;
			right: 0;
			width: 75%;
			height: 3px;
			transform: translateY(-50%);
		}
	}
}
.nav-header {
	@media (min-width: 769px) {
		position: relative;
		z-index: 12;
	}
	@media (max-width: 768px) {
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 10;
		width: 100%;
		height: 100%;
		padding: 90px 15px 20px;
		background-color: #fff;
		overflow: auto;
		transition: left 0.25s;
	}
	&.active {
		@media (max-width: 768px) {
			left: 0;
		}
	}
	// .nav-header__list
	&__list {
		@media (min-width: 769px) {
			display: flex;
			@include adaptive-value(column-gap, 39, 0, 1);
		}
	}
	// .nav-header__item
	&__item {
		@media (max-width: 768px) {
			text-align: center;
			&:not(:last-child) {
				margin-bottom: 36px;
			}
		}
	}
	// .nav-header__link
	&__link {
		font-size: 18px;
		line-height: math.div(22, 18);
		color: #fff;
		@media (any-hover: hover) {
			transition: color 0.25s;
		}
		&:hover {
			@media (any-hover: hover) {
				color: #fff;
			}
		}
	}
}
