.header {
	// .header__wrapper
	&__wrapper {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 50;
		width: 100%;
		&.active {
			&::before {
				background-color: #fff;
				opacity: 1;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: 11;
			width: 100%;
			height: 100%;
			background-color: transparent;
			opacity: 0;
			transition: background-color 0.25s, opacity 0.25s;
		}
	}
	// .header__container
	&__container {
	}
	// .header__row
	&__row {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: 20px;
		@media (min-width: 769px) {
			min-height: 150px;
			transition: min-height 0.25s linear;
		}
		@media (max-width: 768px) {
			min-height: 0;
		}
		&.active {
			@media (min-width: 769px) {
				min-height: 0;
			}
		}
	}
	// .header__logo
	&__logo {
	}
	// .header__nav
	&__nav {
	}
	// .header__burger
	&__burger {
	}
}
.logo {
	position: relative;
	z-index: 12;
	// .logo__item
	&__item {
	}
}
