.lazy-image {
	position: relative;
	background: #c4c4c4;
	&__preloader {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 42px;
		height: 42px;
		margin-left: -21px;
		margin-top: -21px;
		border: 4px solid blue;
		border-top-color: transparent;
		border-radius: 50%;
		animation: swiper-preloader-spin 1s infinite linear;
		transform-origin: 50%;
		box-sizing: border-box;
		&_white {
			border-color: #ffffff;
			border-top-color: transparent;
		}
		@keyframes swiper-preloader-spin {
			100% {
				transform: rotate(360deg);
			}
		}
	}
}
